@import url("https://fonts.google.com/share?selection.family=Jacquard+12+Charted|Jersey+15");

html, body{
    height: 100%;
    margin: 0;
    font-family: "Jersey 15", sans-serif;
}
.background-gradient{
    background: repeating-linear-gradient(
        to bottom,
        #6B705C 0%,     
        #faeaeb 2%, 
        #345B63 4%
    );
    background-size: 100% 4%;
}



.container{
    background-color:#faeaeb;
    border: none;
    border-bottom: 5px solid black;
    overflow: hidden;
}
.titulo{
    font-family: "Jersey 15", sans-serif;
    text-align: center;
    font-size: 40px;
}



form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
/* container dos formularios */
form .container{
    background-color:#faeaeb;
    margin: 5px auto;
    border:5px solid #000000;
    width: 80%;
    padding: 2%;
    box-sizing: border-box;
    overflow: hidden;
}

form .container .titulosformularios{
    text-align: center;
    width: 100%;
    font-size: 24px;
    animation: tituloformularioanimation 2s ease-in-out forwards ;
}
@keyframes tituloformularioanimation {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

form .container .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1%;
    font-size: 20px;
    animation: tituloitemanimation 3s ease-in-out forwards;
}
@keyframes tituloitemanimation {
    from{
        opacity: 0;
        transform: translatey(-100%);
    }
    to{
        opacity: 1;
        transform: translatey(0);
    }
}

input  {
    width: calc(100% - 16px); 
    padding: 0.8%;
    margin: 0.4% auto;
    border: 0.1% solid #000000;
    border-radius: 0.4%;
    text-align: center;
}
input.sem_botão::-webkit-inner-spin-button,
input.sem_botão::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {
    font-weight: bold;
    width: 100%; 
    text-align: center; 
}



.containerJS{
    background-color:#faeaeb;
    border: none;
    border-top: 5px solid black;
    overflow: hidden;
    font-size: 20px;
}
